<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument enabled="true">
            <files>
                <clear />
                <add value="index.html" />
                <add value="index.jsp" />
            </files>
        </defaultDocument>
        <handlers>
            <add name="php71" path="*.php" verb="GET,HEAD,POST,DEBUG" modules="FastCgiModule" scriptProcessor="c:\php71\php-cgi.exe" resourceType="Either" />
        </handlers>
    </system.webServer>
</configuration>
