<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="php71" path="*.php" verb="GET,HEAD,POST,DEBUG" modules="FastCgiModule" scriptProcessor="c:\php71\php-cgi.exe" resourceType="Either" />
        </handlers>
    </system.webServer>
</configuration>
